body {
    /*background-color: white;*/
    color: #404040;
    font-size: 11pt;
    font-family: Georgia, Garamond, serif;
    background-image: url("images/silverware.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
}

.links {
    color: #A4A400;
    display: block;
}

#recipeImage {
    padding-top: 10px;
}

h1 {
    color: #A4A400;
    background-color: #F0F0F0;
    font-family: Lucida Sans Unicode, Helvetica, Arial, sans-serif;
    font-size: 18pt;
    text-decoration: underline;
    padding: 0.25em;
}

#mainHeading{
    text-align: center;
    font-size: 22pt;
    font-weight: bold;
    margin: 0;
}

.userComment {
    background-color: #FFFFA8;
    font-style: italic;
    margin-left: 50px;
}

ul {
    list-style-image: url("images/pie_icon.gif");
}

#copyright {
    float: right;
    clear: both;
    text-align: right;
}

#validator {
    float: right;
}