* {
    font-family: Arial, sans-serif;
    font-size: 20px;
}

.label {
    float: left;
    width: 25%;
}

.input-control {
    width: auto;
}

.input-field {
    display: block;
    padding-bottom: 10px;
}