body {
    background-color: #DBDBDB;
    font-family: "Trebuchet MS";
}

.title {
    color: #FF6E2B;
}

.personalityType {
    color: #29aa20;
}

a:active {
    color: #ff5b81;
    text-decoration: underline;
}

a:link {
    color: #f72559;
    text-decoration: none;
}

a:visited {
    color: #ba6a7d;
    text-decoration: none;
}

a:hover {
    color: #f910bf;
    text-decoration: underline;
}

.dropCap::first-letter {
    font-size: 150%;
    color: #00008b;
}

#favoriteMovies ul li {
    list-style-type: none;
}

#favoriteMovies ul {
    padding: 5px 0px 5px 0px;
}

.movieKey {
    color: #666666;
    font-weight: bold;
    font-size: 14px;
}

.movieValue {
    padding-left: 50px;
    font-size: 13px;
    color: #818989;
}