body {
    background-color: #DBDBDB;
    font-family: "Arial";
}

.title {
    color: #FF6E2B;
}

.personalityType {
    color: #29aa20;
}

a:active {
    color: #ff5b81;
    text-decoration: underline;
}

a:link {
    color: #f72559;
    text-decoration: none;
}

a:visited {
    color: #ba6a7d;
    text-decoration: none;
}

a:hover {
    color: #f910bf;
    text-decoration: underline;
}

.dropCap::first-letter {
    font-size: 150%;
    color: #00008b;
}

ol ul {
    padding-top: 5px;
    padding-bottom: 5px;
}

ol ul li {
    list-style-type: none;
}

.movieDetailKey {
    color: #FF6E01;
    font-weight: bold;
}

.movieDetailValue {
    color: #404040;
    padding-left: 50px;
}