body {
    background-color: #CCCCFF;
    font-size: 14pt;
    font-weight: bold;
    font-family: sans-serif;
}

h1 {
    font-size: 32pt;
    text-align: center;
    font-weight: bold;
}

textarea {
    height: 400px;
    width: 90%;
    font-size: 12pt;
    font-weight: bold;
    font-family: monospace;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

fieldset {
    border: 5px solid;
    display: inline;
}

#controls {
    padding-top: 10px;
    text-align: center;
}

#w3cValidator {
    padding-top: 25px;
}