* {
    font-family: Arial, Trebuchet MS, sans-serif;
    color: #05989b;
}

body {
    margin-left: 15%;
    margin-right: 15%;
    padding: 0;
    /*background-image: url("http://mumstudents.org/cs472/2019-07-RS/Labs/2/background.gif");*/
}

.container {
    border: white solid 10px;
    background-color: white;
    display: inline-block;
}

.header {
    /*border: red solid 5px;*/
    text-align: right;
    background-color: #A8F0F0;
}

.content {
    border: #C2E9E9 solid 4px;
    background-color: #E8FBFB;
    padding: 5px;
    margin-top: 10px;
    text-align: justify;
    overflow: auto;
    border-radius: 15px;
}

.content img {
    float: right;
    clear: both;
}

.contentTitle {
    border-bottom: #009097 dashed 2px;
}

.headerTitle {
    /*border: orange solid 5px;*/
    font-size: 14pt;
}

#w3cValidator {
    padding: 5px;
    position: relative;
}

#friendColumn {
    float: left;
    width: 25%;
    clear: both;
    background-color: #A8F0F0;
    border: #009097 solid 5px;
    border-radius: 15px;
    padding: 5px;
    margin-top: 10px;
}

#contentColumn {
    float: right;
    width: 68%;
}

